<html>
<head>
  <title>Советы по лечению</title>
  <style media="screen">
@media (min-width: 700px){
.m{width:70%;
margin-left:auto;
margin-right:auto;
}
}

.footer{
 position:fixed;
 background-color:#eee;
 bottom:0;
 left:0;
 width:100%;
 height:60px;
}
.days{
 float:left;
 margin-left:10%;

}
.map{
  position:absolute;
  width:50px;
  right: 25%;
  left: 0;
  margin: auto;
}
.articles{
 position:absolute;
 width:50px;
 right: 0;
 left: 25%;
 margin: auto;
}

.profile{
 float:right;
 margin-right:10%;
}
.footer > a{
 margin-top:5px;
}
.head{
 text-align:center;
	margin-bottom:0px;
}
.head1{
 text-align:center;
 margin-top:0px;
}
dl{
	margin-left:0px;
}
.nav{
	margin-left:0px;
	border:solid;
	border-width:2px;
	border-radius:10px;
}
dd{
	margin-left:10px;
	margin-bottom:5px;
	margin-top:5px;
}
.line{
	width:100%;
	height:1px;
	background-color:#000;
}
h3{
	text-align:center;
}
p{
	text-indent:20px;
	margin-left:10px;
	margin-left:10px;
}
.foot{
	margin-top:100px;
}
.up{
	position:fixed;
	right:10px;
	bottom:70px;
	background-color:#fff;
	border-radius:50%;
}
body{
/* background-image:url(https://i.ibb.co/DW5kHnp/pattern-4.png);
background-attachment:fixed;
background-size: 130px; */
background-color:#ffcfcf;
margin:0px;
}
.m{background:#fff;
padding:10px;}
  </style>
</head>
  <body>
  <div class='m'>
    <h1 class='head'>Советы по лечению и профилактике </h1>
    <h1 class='head1'>ОРВИ и Гриппа</h1>
			<div class='nav'>
				<dl>
					<dd><a href="#a1">Как понять, это ОРВИ или грипп?</a></dd>
					<div class='line'></div>
					<dd><a href="#a2">Можно ли защититься от гриппа с помощью прививки?</a></dd>
					<div class='line'></div>
					<dd><a href="#a3">Поможет ли прием противовирусных препаратов справиться с болезнью?</a></dd>
					<div class='line'></div>
					<dd><a href="#a4">Нужно ли принимать антибиотики, чтобы быстро победить болезнь?</a></dd>
					<div class='line'></div>
					<dd><a href="#a5">Нужно ли лечить симптомы болезни?</a></dd>
					<div class='line'></div>
					<dd><a href="#a6">Нужно ли заниматься профилактикой  и поддержкой иммунной системы?</a></dd>
				</dl>
			</div>
			<div class = 'up'><a href="#"><img src="https://image.flaticon.com/icons/png/512/37/37230.png" alt="" width=50px></a></div>
			<h3><a name = 'a1'></a>Как понять, это ОРВИ или грипп?</h3>
			<p>ОРВИ- это острые респираторные заболевания. Возбудителями ОРЗ могут быть самые различные вирусы, в том числе, и вирус гриппа. В период отсутствия эпидемий вирус гриппа среди возбудителей ОРЗ занимает всего порядка 5%, а  само заболевание в это время может протекать не так выражено. Другое дело – период эпидемий, тогда опасность гриппа возрастает в разы! Особенной опасности в плане развития осложнений подвергаются группы риска – дети, беременные женщины, пожилые, люди с хроническими заболеваниями органов дыхания,с ослабленным иммунитетом.. </p>

<p>ОРВИ как правило» разворачивается» постепенно. Начинается заболевание  с озноба,насморка,болей в горле,кашдя. На первой стадии заболевания может пояаиться только один из симптомов,а остальные дать о себе знать в ближайшие два-три дня.Температура тела при ОРВИ повышается до 38 градусов и держится около 2-4 суток.После ее снижения  болезнь начинает отступать и как правило уже через неделю человек возвращается к обычной жизни.. Если симптомы не проходят, то мы имеем дело с осложнениями.</p>
 <p>Вирусы гриппа способны вывести человека из строя буквально за считанные часы.Еще утром  вы чувствовали себя хорощо,а к полудню-температура 39 градусов и выше.озноб.слабость,ломота во всем теле,головные боли.При этом сбить температуру нелегко и держится она до пяти дней. Другие симптомы гриппа-боль в горле.упорный сухой кашель.заложенность в груди. Если человек столкнулся с вирусом гриппа.то даже после завершения его острой стадии он может чувствовать слабость.недомогание в течение 2-3 недель.. При гриппе всегда нужно вызывать врача на дом, никуда не ходить, это чревато осложнениями, да и создает неблагоприятную эпидемиологическую обстановку.</p>
			<h3><a name = 'a2'></a>Можно ли защититься от гриппа с помощью прививки?</h3>
			<p>Можно и нужно. Ее делают один раз ежегодно,в начале каждого сезона простуд. Октябрь- свмый подходящий этого месяц. Так что поторопитесь защить себя и всю свою семью от гриппа.</p>
			<h3><a name = 'a3'></a>Поможет ли прием противовирусных препаратов справиться с болезнью?</h3>
			<p>Среди населения в последнее время стало модно принимать противовирусные препараты, например, «Арбидол», «Реленза» или «Тамифлю» и т.д. Почему-то люди считают, что они помогают от всего сразу – и лечат грипп и все остальные ОРЗ, и повышают иммунитет. На самом деле эти препараты характеризуются своим спектром действия и предназначены для лечения вируса гриппа. Более того, постепенно некоторые штаммы вируса гриппа демонстрируют устойчивость к содержащимся в этих препаратах противовирусным веществам. Стоит отметить, что при использовании таких препаратов нужно обязательно консультироваться с врачом. Тот, кто самостоятельно назначает себе лечение, лишний раз может навредить своему организму.</p>
			<h3><a name = 'a4'></a>Нужно ли принимать антибиотики, чтобы быстро победить болезнь?</h3>
			<p>Принимая антибиотики с первого дня болезни, занимаясь самолечением, вы только наносите большой вред своему организму! Антибиотики назначаются только врачами и только в случае осложнений – легкие формы заболеваний ими не лечатся! Иначе в лучшем случае вы заработаете дисбактериоз, а в худшем – серьезно подорвете свое здоровье.</p>
			<h3><a name = 'a5'></a>Нужно ли лечить симптомы болезни?</h3>
			<p>Жаропонижающие средства  в т.ч. нестероидные противовоспалительные препараты обычно не назначаются пациенту при температуре ниже 38 градусов. Высокая температуратела  является защитным фактором, и снижать ее нужно разумно. Эти перпараты назначаются в случаях.когда имеется сильная непереносимая головная боль.судорожный синдром. Кроме того, некоторые пациенты не могут переносить даже небольшое повышение температуры (лица, страдающие заболеваниями сердца и сосудов, беременные и др.</p>
			<p>У части пациентов после или в момент ОРЗ имеется склонность к развитию воспаления придаточных пазух носа или аллергических ринитов. Поэтому у таких людей необходимо лечить насморк соответственно противоотечными и противоаллергическими препаратами.         В аптеках продается множество комбинированных» противопростудных» симптоматических препаратов.Они  содержат необходимые для лечения вещества в сбалансированных дозах, что уменьшает риск передозировки. Только нужно помнить, что их употребление должно быть тоже по показаниям и в соответствии с рекомендуемыми суточными дозировками. Бывают случаи бесконтрольного применения этих препаратов. Кроме того, иногда пациенты не смотрят, что содержится в комбинированных препаратах, и дублируют использование лекарственных средств – например, вместе с указанными препаратами употребляют дополнительно нестероидные противовоспалительные средства. Такое тоже недопустимо.</p>
			<p>Вообще рекомендуется перед покупкой любых комбинированных препаратов обязательно ознакомится с их составом, инструкцией, и, если не уверены, посоветуйтесь с врачом, который назначит подходящий вам препарат исходя из полной картины заболевания.</p>
			<h3><a name = 'a6'></a>Нужно ли заниматься профилактикой  и поддержкой иммунной системы?</h3>
			<p>Для профилактики ОРВИ целесообразны закаливающие процедуры,прием поливитаминов,рациональное питание с употреблением овощей и фруктов.содержащих аскорбиновую кислоту. Для профилактики гриппа лучшей профилактикой является своевременно сделанная прививка.</p>
			<div class='foot'> <h>s</h></div>
</div>
  </body>
  <div class='footer'>
 <a href="../" class='days'><img src="https://i.ibb.co/nzyqwTB/date.png" alt="date" height="50"></a>
 <a href="/map" class='map'><img src="https://i.ibb.co/1RZHQ1D/map.png" alt="map" height=50></a>
 <a href="#" class='articles'><img src="https://i.ibb.co/d7FRJTF/articles1.png" alt="articles" height=50></a>
 <a href="/profile" class='profile'><img src="https://i.ibb.co/z56x1hr/profile.png" alt="profile" height="50" width=65></a>
</div>
</html>
